@import url(https://fonts.googleapis.com/css?family=Roboto:300);

#login-page {
  width: 360px;
  padding: 8% 0 0 0;
  margin: auto;
}

#form{
    position: relative; 
    background: #FFFFFF;
    max-width: 360px;
    margin: 0;
    padding: 45px;
    text-align: center;
}

#form input{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background-color: gainsboro;
    width: 100%;
    border: 0;
    margin: 0 0 15px 0;
    padding: 15px;
    box-sizing: border-box;
    font-size: 15px;
} 

#form button{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background-color: #036fab;
    border-style: solid;
    width: 100%;
    border: 0;
    margin: 0;
    padding: 10px;
    color: #FFFFFF;
    font-size: 18px;
    cursor: pointer;
}

body{
    background-color: #045491;
}

